<div
  class="hidden md:block fixed top-1/2 bg-negro opacity-65 p-2 rounded-tr-lg rounded-br-lg z-50"
>
  <a
    href="https://www.linkedin.com/company/blasiav/"
    target="_blank"
    class="pb-4"
  >
    <img
      src="/assets/svg/linkedin.svg"
      alt=""
      class="size-10 cursor-pointer hover:scale-125 transition"
    />
  </a>

  <a 
  href="https://www.instagram.com/blasiavbusiness/" target="_blank">
    <img
      src="/assets/svg/instagram.svg"
      alt=""
      class="size-10 cursor-pointer hover:scale-125 transition"
    />
  </a>
</div>
