<!-- <video
    class="w-full h-auto max-w-full md:pt-[67px] pt-[80px]"
    autoplay
    muted
    loop
>
    <source src="/assets/videoWeb4.mp4" type="video/mp4" />
</video> -->
<div class="w-full h-auto flex justify-center max-w-full md:pt-[67px] pt-[80px]">
    <img src="/assets/1708076119772.jpeg" alt="">
</div>
